# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependency management
.bundle/
vendor/

# Logs
*.log

# macOS specific files
.DS_Store

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env