<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300;500;700&family=Inter:wght@300;500;700&family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <button id="theme-toggle" aria-label="Toggle dark mode">🌛</button>
    <div id="image-section"></div>
    <div id="text-section">
        <section id="about">
            {{ content }}
        </section>
    </div>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
